@font-face {
    font-family: 'OSS';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OSS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSR';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.svg#OSR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSL';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype'),
         url('../fonts/OpenSans-Light.svg#OSL') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'OSR';
	overflow-x: hidden;
	color: #1a1a1a;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
h5 {
	font-size: 12px;
}
h4 {
	font-size: 13px;
}
h3 {
	font-size: 14px;
}
h2 {
	font-size: 32px;
	font-family: 'OSL';
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFCECE !important;
	box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);
}
button {
	border: none;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}
input::-webkit-input-placeholder {
	font-family: 'OSR';
}
input:-moz-placeholder {
	font-family: 'OSR';
}
.b-orange-butt{
	color: #fff;
	width: 145px;
	text-align: center;
	font-size: 12px;
	padding: 6px 0 7px;
	font-family: "OSR";
	border-radius: 3px;
	display: inline-block;
  	border-bottom: 2px solid #dd5d21;

	background: #fdb227; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdb227 0%, #fdb227 0%, #f98325 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb227), color-stop(0%,#fdb227), color-stop(100%,#f98325)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdb227 0%,#fdb227 0%,#f98325 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdb227 0%,#fdb227 0%,#f98325 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdb227 0%,#fdb227 0%,#f98325 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdb227 0%,#fdb227 0%,#f98325 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb227', endColorstr='#f98325',GradientType=0 ); /* IE6-9 */

}
	.b-orange-butt:hover{

		background: #fc9f00; /* Old browsers */
		background: -moz-linear-gradient(top,  #fc9f00 0%, #fdb227 0%, #f76b00 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc9f00), color-stop(0%,#fdb227), color-stop(100%,#f76b00)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fc9f00 0%,#fdb227 0%,#f76b00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fc9f00 0%,#fdb227 0%,#f76b00 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fc9f00 0%,#fdb227 0%,#f76b00 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fc9f00 0%,#fdb227 0%,#f76b00 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc9f00', endColorstr='#f76b00',GradientType=0 ); /* IE6-9 */
		cursor: pointer;

	}
	.b-orange-butt:active,.b-green-butt:active{
		margin-top: 2px;
		border: none !important;
	}
.b-green-butt {
	color: #fff;
	width: 119px;
	text-align: center;
	font-size: 11px;
	padding: 6px 0 7px;
	font-family: "OSR";
	border-radius: 3px;
	display: inline-block;
  	border-bottom: 2px solid #508e2a;

	background: #8ed944; /* Old browsers */
	background: -moz-linear-gradient(top,  #8ed944 0%, #62b700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed944), color-stop(100%,#62b700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8ed944 0%,#62b700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8ed944 0%,#62b700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8ed944 0%,#62b700 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8ed944 0%,#62b700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed944', endColorstr='#62b700',GradientType=0 ); /* IE6-9 */

}
	.b-green-butt:hover {
		background: #6dc639; /* Old browsers */
		background: -moz-linear-gradient(top,  #6dc639 0%, #29a500 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dc639), color-stop(100%,#29a500)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6dc639 0%,#29a500 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6dc639 0%,#29a500 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6dc639 0%,#29a500 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6dc639 0%,#29a500 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dc639', endColorstr='#29a500',GradientType=0 ); /* IE6-9 */
		cursor: pointer;

	}
.arrow {
	position: absolute;
	background-image: url("../i/arrows.png");
	background-repeat: no-repeat;
	width: 41px;
	height: 41px;
	top: 50%;
	margin-top: -20.5px;
	z-index: 10;
}
	.arrow:hover {
		cursor: pointer;
	}
.left-arrow {
	left: 0;
	background-position: 0% 100%;
}
	.left-arrow:hover {
		background-position: 0% 0%;
	}
.right-arrow {
	right: 0;
	background-position: 100% 100%;
}
	.right-arrow:hover{
		background-position: 100% 0%;
	}
.back {
	background-image: url("../i/back.png");

}
.back:after {
	background-image: url("../i/catalog-shadow.png");
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	position: absolute;
  	content: "s";
  	font-size: 0px;
  	width: 915px;
  	height: 16px;
  	left: 50%;
  	margin-left: -457px;
  	bottom: 0px;
}
.title {
	display: block;
	text-align: left;
}
	.title span{
		width: 40px;
		height: 3px;
		background-color: #ffd518;
		display: block;
	}
	.title h2{
    	margin-top: 11px;
	}
ul.catalog-cont{
	text-align: center;
}
			ul.catalog-cont li.grey-block:nth-child(3n){
				margin-right: 0;
			}
	ul.catalog-cont li.grey-block {
		background-color: #e8e8e8;
		border: 2px solid #d8d8d8;
		box-sizing: border-box;
		width: 308px;
		border-radius: 4px;
		padding: 0px 23px 20px 23px;
	 	
		float: left;
		margin-top: 18px;
	 	
		margin-right: 18px;
	
		text-align: left;
}
		ul.catalog-cont li.grey-block .img {
			display: table;
			width: 100%;
			height: 176px;
			padding-top: 23px;
			background-image: url("../i/item-shadow.png");
			background-position: 50% -2px;
			background-repeat: no-repeat;
		}
			ul.catalog-cont li.grey-block .img div{
				display: table-cell;
				height: 100%;
				font-size: 0;
				vertical-align: middle;
			}
				.grey-block .img div img {
					max-height: 153px;
					max-width: 100%;
				}
		ul.catalog-cont li.grey-block h3 {
			font-family: "OSS";
			font-size: 16px;
			margin-top: 5px;
		}
		ul.catalog-cont li.grey-block ul {
	    	margin-top: 4px;
	    	margin-bottom: 15px;
		}
			ul.catalog-cont li.grey-block ul li {
			    float: left;	
			    margin-right: 12px;
			}
				ul.catalog-cont li.grey-block ul li a {
				    font-size: 12px;	
				    color: #151515;
				    text-decoration: underline;
				}
					ul.catalog-cont li.grey-block ul li a:hover {
						text-decoration: none;
					}
.sub-menu {
	padding-bottom: 24px;
	padding-top: 40px;
}
	.sub-menu li {
		float: left;
		position: relative;	
		margin-right: 11px;
	}
			.sub-menu li:nth-child(1n+1):before {
				position: absolute;
	  			content: "/";
				font-size: 12px;
				left: -8px;	
				top: 4px;
			}
			.sub-menu li:first-child:before {
				content: "";
			}
			.sub-menu li a{
				font-size: 12px;
				color: #68b403;
				text-decoration: underline;
			}
			.sub-menu li.active a{
				color: #494949;
				border:none;
				cursor: default;
				text-decoration: none;
			}
				.sub-menu li a:hover{
					text-decoration: none;
				}
.count{
    border: 1px solid #dedede;				
    background-color: #fff;
    border-radius: 3px;
    margin-left: 9px;
    margin-right: 9px;
}
	.count span{
		width: 34px;
		height: 40px;
		display: block;
		text-align: center;
		padding-top: 7px;
		box-sizing: border-box;
		cursor: pointer;
	}
	.count span.minus {
		padding-top: 4px;
	}
		.count span:hover{
			background: #feaf00; /* Old browsers */
			background: -moz-linear-gradient(top,  #feaf00 0%, #fb8910 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feaf00), color-stop(100%,#fb8910)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #feaf00 0%,#fb8910 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #feaf00 0%,#fb8910 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #feaf00 0%,#fb8910 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #feaf00 0%,#fb8910 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feaf00', endColorstr='#fb8910',GradientType=0 ); /* IE6-9 */

		}
		.count span i {
			background-image: url("../i/count.png");
			background-position: 26px 50%;
			width: 8px;
			height: 8px;
			background-size: 34px 8px;
			display: inline-block;
		}
		.count span.minus i{
			background-position: 9px 50%;
			width: 9px;
			height: 2px;
		}

			.count span:hover i {
				background-position: 34px 50%;
			}
			.count span.minus:hover i{
				background-position: 18px 50%;
			}
		.count input{
			width: 51px;
			height: 40px;
			text-align: center;
			font-size: 15px;
			padding: 0 10px;	
			border: none;
			border-left: 1px solid #dedede;
			border-right: 1px solid #dedede;
			box-sizing: border-box;
		}
			

.b-header-menu{
	background-color: #373838;
}
	.b-header-menu .b-block {
    padding: 8px 0 16px;

	}
		.b-header-menu .b-block ul{
		
		}
			.b-header-menu .b-block li{
				float: left;
				margin-right: 34px;
			}
				.b-header-menu .b-block li a{
					color: #fff;
					font-size: 12px;
					text-decoration: underline;
				}
					.b-header-menu .b-block li a:hover{
						text-decoration: none;
					}
		.b-header-menu .b-block .right{
			padding-top: 6px;
		}
			.b-header-menu .b-block h5{
				color: #fff;
			}
				.b-header-menu .b-block h5 a{
					color: #ffd518;
					border-bottom: 1px dotted #ffd518;
				}
					.b-header-menu .b-block h5 a:hover{
						color: #ffd518;
						border-bottom: none;
					}
.b-header-main {

}
	.b-header-main .b-block {
    padding: 24px 0 46px;

	}
		.b-header-main .b-block div{
			text-align: left;
		}
		.b-header-main .b-block .logo-cont{
			font-size: 0;
		}
			.b-header-main .b-block .logo-cont a{
				display: inline-block;
				
			}
				.b-header-main .b-block .logo-cont img {
					width: 238px;
				}
		.b-header-main .b-block .desc{
			margin-left: 31px;
			width: 185px;
			margin-top: 3px;
		}
			.b-header-main .b-block .desc h4{
				line-height: 1.6;
			}
		
		
		.b-header-main .b-block .call{
		}
			.b-header-main .b-block .call h2 {
				font-size: 20px;
				margin-bottom: 7px;
				font-family: "OSS";
			}
			.b-header-main .b-block .call .b-orange-butt {
				
				margin-left: 1px;
			}
		.b-header-main .b-block .basket{
  			margin-top: 10px;
		
  			margin-left: 98px;
}
			.b-header-main .b-block .basket h3{
				font-family: "OSS";
				position: relative;
			}
				.b-header-main .b-block .basket h3:before{
					position: absolute;
	  				content: "s";
	  				font-size: 0px;
	  				width: 24px;
	  				height: 24px;
	  				left: -33px;
	  				top: -3px;
	  				background-position: 50% 50%;
	  				background-repeat: no-repeat;
	  				background-image: url('../i/basket.png');
				}
			.b-header-main .b-block .basket h6{
				margin-top: 7px;
			}
		.b-header-main .b-block .search {
			position: absolute;
		
			bottom: -24px;
			z-index: 10;
}
			.b-header-main .b-block .search .catalog{
				padding: 12px 24px 14px;
				width: 194px;
				box-sizing: border-box;
				text-align: right;
				border-radius: 3px 0px 0px 3px;
				border-bottom: 2px solid #508e2a;
				color: #fff;
				font-size: 14px;
				font-family: "OSS";

				background: #8ed944; /* Old browsers */
				background: -moz-linear-gradient(top,  #8ed944 0%, #62b700 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed944), color-stop(100%,#62b700)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #8ed944 0%,#62b700 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #8ed944 0%,#62b700 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #8ed944 0%,#62b700 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #8ed944 0%,#62b700 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed944', endColorstr='#62b700',GradientType=0 ); /* IE6-9 */
			}
				.b-header-main .b-block .search .catalog:hover {
					background: #6dc639; /* Old browsers */
					background: -moz-linear-gradient(top,  #6dc639 0%, #29a500 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dc639), color-stop(100%,#29a500)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #6dc639 0%,#29a500 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #6dc639 0%,#29a500 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #6dc639 0%,#29a500 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #6dc639 0%,#29a500 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dc639', endColorstr='#29a500',GradientType=0 ); /* IE6-9 */
					cursor: pointer;
				}
				.b-header-main .b-block .search .catalog:before{
					position: absolute;
	  				content: "s";
	  				font-size: 0px;
	  				width: 17px;
	  				height: 12px;
	  				
					left: 24px;
	  				
					top: 17px;
	  				background-position: 50% 50%;
	  				background-repeat: no-repeat;
	  				background-image: url('../i/menu.png');
				}
			.b-header-main .b-block .search .search-cont {
				border: 1px solid #cccccc;
				border-bottom: 2px solid #cccccc;
				border-left: none;
				border-radius: 0px 5px 5px 0px;
				background-color: #fff;
			
				width: 763px;
}
				.b-header-main .b-block .search .search-cont label {
					display: block;
					width: 44px;
					height: 44px;
					background-image: url("../i/search.png");
					background-position: 50%;
					background-repeat: no-repeat;
				}
					.b-header-main .b-block .search .search-cont label:hover {
						cursor: pointer;
					}

				.b-header-main .b-block .search .search-cont input{
					font-size: 13px;
					height: 44px;
  					border: none;
  					
					width: 612px;

				
					line-height: 1.6;
}
				.b-header-main .b-block .search .search-cont div {
					display: inline-block;
				
					margin-top: 7px;
					width: 100px;
					height: 31px;
}
					.b-header-main .b-block .search .search-cont div button {
   						display: none;
   						width: 100px;
						
   						padding: 6px 0 6px;

					}
.b-main-slider-cont .slick-arrow{
	display: none !important;
}
.b-main-slider-cont {
	overflow: hidden;
}
.main-backSlider{
	opacity: 0;
}
	.b-main-slider-cont .main-backSlider .slide{
		background-size: cover;
		background-position: 50%;
		height: 403px;
	}
	.b-main-slider-cont .main-backSlider .slick-dots {
		position: absolute;
		left: 50%;
		margin-left: -18px;
		bottom: 17px;
}
		.b-main-slider-cont .main-backSlider .slick-dots li {
			float: left;
			margin-right: 8px;
		}
		.b-main-slider-cont .main-backSlider .slick-dots li:last-child {
			margin-right: 0;
		}

			.b-main-slider-cont .main-backSlider .slick-dots li button {
				width: 7px;
				height: 7px;
				border-radius: 50%;
				border: none;
				background-color: #fff;
				font-size: 0;
				position: relative;
				z-index: 20;
			}
				.b-main-slider-cont .main-backSlider .slick-dots li button:hover {
					cursor: pointer;
				}
			.b-main-slider-cont .main-backSlider .slick-dots li.slick-active button {
				background-color: #40b02d;
			}

		.b-main-slider-cont .main-contentSlider {
			height: 403px;
			padding-top: 24px;
		}
			.main-contentSlider-slide{
				width: 960px;
				position: absolute;
				display: none;
				left: 0px;
				top: 0px;
			}

			.b-main-slider-cont .main-contentSlider-slide{
				display: table;
				height: 365px;	
				padding-top: 24px;
			}
				.b-main-slider-cont .main-contentSlider .slide{
					display: table-cell;
					/*height: 379px;	*/
					width: 50%;
					vertical-align: middle;
					position: relative;
				}
				.b-main-slider-cont .main-contentSlider .slide-left{	
				    text-align: left;
				    padding-left: 81px;
				}
					.b-main-slider-cont .main-contentSlider .slide-left h2{
					    font-size: 28px;	
					    font-family: "OSS";
					}
					.b-main-slider-cont .main-contentSlider .slide-left h3{
						margin-top: 11px;
						line-height: 1.7;
						margin-bottom: 20px;
					}
					.b-main-slider-cont .main-contentSlider .slide-left .b-orange-butt{		
					    width: 152px;
					    padding: 9px 0px 10px;
					    font-size: 13px;
					}
				.b-main-slider-cont .main-contentSlider .slide-right{
					
				}
					.b-main-slider-cont .main-contentSlider .slide-right .img-cont{
					    position: relative;			
					    display: inline-block;
					    top: 15px;
					}
						.b-main-slider-cont .main-contentSlider .slide-right .img-cont .sticker{
							position: absolute;
							top: -25px;
							font-size: 24px;
							left: -35px;
							line-height: 24px;
							width: 110px;    
							height: 110px;
							background-color: #fed530;
							font-family: "OSS";
							border-radius: 50%;
							padding-top: 35px;
							box-sizing: border-box;
						}
							.b-main-slider-cont .main-contentSlider .slide-right .img-cont .sticker span {
								font-size: 18px;
								margin-left: 2px;
							}
					.b-main-slider-cont .arrow {
						background-image: url("../i/slider-arrows.png");
					}
					.b-main-slider-cont .left-arrow{
						left: 50%;
						margin-left: -480px;
					}
					.b-main-slider-cont .right-arrow{
						left: 50%;
						margin-left: 440px;
					}
		
.b-catalog-main {
	padding-bottom: 35px;
}
	.b-catalog-main .b-block {
		text-align: left;
		padding-top: 30px;
	}
		.b-catalog-main .b-block .catalog-cont {
			padding-top: 8px;
		}
.b-partners {

}
	.b-partners .b-block {
    padding-top: 33px;
    padding-bottom: 42px;
	
	}
		.b-partners .b-block .partners-slider{
    		margin-top: 56px;	
    		height: 70px;
		}
			.b-partners .b-block .partners-slider .slick-list{
    			height: 100%;
  				width: 820px;
  				display: inline-block;
			}
				.b-partners .b-block .partners-slider .slick-list .slick-track{
    				height: 100%;
				}
			.b-partners .b-block .partners-slider .left-arrow{
				left: 0px;
			}
			.b-partners .b-block .partners-slider .right-arrow{
				right: 0px;
			}
			.b-partners .b-block .partners-slider .cont{
				display: table;
				height: 70px;
			}
				.b-partners .b-block .partners-slider .cont div{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
					.b-partners .b-block .partners-slider .cont div img{
						display: inline-block;
					}
.b-6 {
	max-height: 10000px;
	background-color: #f2f2f2;
}
	.b-6 .b-block {
    text-align: left;
    background-image: url("../i/b-6-shadow.png");
  	background-position: 50% 0%;
  	background-repeat: no-repeat;
	
    padding-top: 34px;
    padding-bottom: 75px;
}
		.b-6 .b-block h3{
			font-family: "OSS";
			font-size: 24px;
		}
		.b-6 .b-block p{
			font-size: 13px;
			line-height: 1.9;
			color: #151515;
		
			margin-top: 23px;
			width: 950px;
}
.b-footer {
	background-color: #2b2c2c;
	background-image: url("../i/footer-shadow.png");
  	background-position: 50% 0%;
  	background-repeat: no-repeat;
}
	.b-footer .b-block {
		color: #fff;
		text-align: left;
		padding-top: 22px;
		padding-bottom: 11px;
}
		.b-footer .b-block div:first-child{
			
		}
			.b-footer .b-block div:first-child .logo{
				display: inline-block;
				font-size: 0;
			}
				.b-footer .b-block div:first-child .logo img {
					width: 203px;
				}
			.b-footer .b-block div:first-child h2{
				font-size: 20px;
				font-family: "OSS";
				margin-top: 12px;
				margin-bottom: 11px;
			}
			.b-footer .b-block div:first-child h6{
				font-size: 12px;
				margin-top: 27px;
				line-height: 1.5;
			}
		.b-footer .b-block .list{
   			margin-left: 41px;
   			margin-top: 7px;
		}
			.b-footer .b-block .list h3{
    			text-transform: uppercase;
				
			}
			.b-footer .b-block .list ul{
    			margin-top: 10px;
				
			}
				.b-footer .b-block .list ul li{
    				margin-bottom: 2px;
					
				}
		.b-footer .b-block .right{
    		width: 190px;	
    		margin-top: 7px;
		}
			.b-footer .b-block .right h4{
				margin-left: 22px;		
				line-height: 1.692;
				margin-bottom: 16px;
			}	
				.b-footer .b-block .right h4 span{
					font-family: "OSS";
				}
			.b-footer .b-block .right div{
				text-align: right;
				margin-top: 38px;
			}
		.b-footer .b-block .list a,.b-footer .b-block .right a{
			color: #fcce00;
			text-decoration: underline;
			font-size: 12px;
}
			.b-footer .b-block .list a:hover,.b-footer .b-block .right a:hover{
				text-decoration: none;
			}
.b-catalog {

}	
	.b-catalog .b-block{
		padding-bottom: 80px;
	}
	.b-catalog .b-block .catalog-cont {
		padding-top: 20px;
	}

.b-card{
	
}
	.b-card .b-block {
    padding-bottom: 90px;

	}
		.b-card .b-block .b-card-item {
    		margin-top: 30px;	
		
    		margin-bottom: 50px;
}
			.b-card .b-block .b-card-item .images {
				width: 394px;
				margin-bottom: 10px;
				
			}
				.b-card .b-block .b-card-item .images div {
					border: 3px solid #e3e3e3;
					width: 100%;
					height: 353px;
	 				box-sizing: border-box;
					background-size: contain;
	 				background-position: 50%;
	 				background-repeat: no-repeat;
				}
				.b-card .b-block .b-card-item .images a {
					display: block;
					width: inherit;
					height: inherit;
				}
				.b-card .b-block .b-card-item .images ul li {
					height: 79px;
					width: 88px;
					border: 2px solid #e3e3e3;
					box-sizing: border-box;
					margin-top: 8px;
					margin-right: 14px;
					background-size: cover;
					background-position: 50%;	
					float: left;
					vertical-align: middle;
	 				-webkit-transform: translateZ(0);
	 				transform: translateZ(0);
	 				box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	 				-webkit-backface-visibility: hidden;
	 				backface-visibility: hidden;
	 				-moz-osx-font-smoothing: grayscale;
	 				-webkit-transition-duration: 0.15s;
	 				transition-duration: 0.15s;
	 				-webkit-transition-property: transform;
	 				transition-property: transform;
	 				position: relative;
				}
					.b-card .b-block .b-card-item .images ul li:hover, .b-card .b-block .images ul li:focus, .b-card .b-block .images ul li:active {
						-webkit-transform: scale(1.15);
						transform: scale(1.15);
						z-index: 100;
					}
				.b-card .b-block .b-card-item .images ul li:nth-child(4n) {
					margin-right: 0;
				}
			.b-card .b-block .b-card-item .desc {
				width: 536px;
				text-align: left;
			}
				.b-card .b-block .b-card-item .desc h4{
					font-size: 16px;
					font-family: "OSS";
				}
				.b-card .b-block .b-card-item .desc table {
					width: 100%;
				
					margin-top: 14px;
					margin-bottom: 30px;
				}
					
					.b-card .b-block .b-card-item .desc table tr:nth-child(2n+1){
						background-color: #e3e3e3;
					}
						.b-card .b-block .b-card-item .desc tr td{
							width: 50%;
							font-size: 13px;
						
							padding: 7px 16px;
						}
				.b-card .b-block .b-card-item .desc .price{
					
				}
						.b-card .b-block .b-card-item .desc h3 {
							font-size: 18px;
							margin-top: 5px;
						}
							.b-card .b-block .b-card-item .desc h3 span {
								color: #fa8610;
								font-family: "OSS";
								font-size: 23px;
							}
							.b-card .b-block .b-card-item .desc h3 span.name {
								font-size: 19px;
							
}
						.b-card .b-block .b-card-item .desc .price .right {
							position: relative;
						
							margin-top: 7px;
}
							.b-card .b-block .b-card-item .desc .price .right a {
								color: #1a1a1a;
								font-size: 12px;
								text-decoration: underline;
								display: inline-block;
								position: relative;
							}
								.b-card .b-block .b-card-item .desc .price .right a:before {
									position: absolute;
	 								content: "s";
	 								font-size: 0px;
	 								width: 13px;
	 								height: 17px;
									left: -20px;
									top: 0px;
	 								background-position: 50% 50%;
	 								background-repeat: no-repeat;
									background-image: url("../i/reserve.png");
								}
								.b-card .b-block .b-card-item .desc .price .right a.consult {
									margin-left: 62px;
								}
								.b-card .b-block .b-card-item .desc .price .right a.consult:before {
									left: -25px;
									top: 2px;
									width: 19px;
	 								height: 16px;
									background-image: url("../i/consult.png");
								}
								.b-card .b-block .b-card-item .desc .price .right a:hover {
									text-decoration: none;
								}
				.b-card .b-block .b-card-item .desc .order{
    				margin-top: 23px;				
				}
					.b-card .b-block .b-card-item .desc .order a{
    					padding: 9px 0 12px;
    					font-size: 14px;
    					width: 150px;
					}
					.b-card .b-block .b-card-item .desc .order h5{
						font-size: 13px;
						margin-top: 12px;
					}
					
        .b-card .b-block .b-text {
    		max-height: 10000px;	
    		text-align: left;
		}
			.b-card .b-block .b-text h3{
				font-family: "OSS";
				font-size: 24px;
			}
			.b-card .b-block .b-text p{
				font-size: 13px;
				line-height: 1.9;
				color: #151515;
				margin-top: 23px;
				width: 950px;
			}
.b-category {

}
	.b-category .b-block{
		padding-bottom: 30px;
	}
		.b-category .b-block .title{
			margin-bottom: 33px;
		}
		.b-category .b-block .filter {
			width: 220px;
		}
			.b-category .b-block .filter .filter-item-cont{
				text-align: left;
			
				margin-bottom: 25px;
			}
				.b-category .b-block .filter .filter-item-cont h3{
					font-size: 14px;
					font-family: "OSS";
					background-color: #e6e6e6;
					padding: 8px 12px 10px;
				}
					.b-category .b-block .filter .filter-item-cont .filter-item {
						margin-top: 16px;
					}
						.b-category .b-block .filter .filter-item-cont .filter-item.slide-type .range-inputs {

						}
							.b-category .b-block .filter .filter-item-cont .filter-item.slide-type .range-inputs label {
    							font-size: 13px;	
							}
							.b-category .b-block .filter .filter-item-cont .filter-item.slide-type .range-inputs input{
								width: 71px;							
								height: 31px;
								box-sizing: border-box;
								border: 1px solid #d8d8d8;
								border-radius: 3px;
								margin-left: 3px;
								margin-right: 11px;
								padding: 0 10px;
							}
							.b-category .b-block .filter .filter-item-cont .filter-item.slide-type .slider-range {
								background-color: #c8c8c8;
								height: 8px;
								width: 220px;
								box-sizing: border-box;
			  					border-radius: 5px;
			  					margin-top: 20px;
							}
								.ui-widget-header {
									background-color: #fdad01;
								}
								.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
									background: url("../i/slider-range.png") no-repeat;
									border:none;
									width: 24px;
									height: 25px;
									cursor: pointer;
									top: -9px;
								}

								.ui-slider-horizontal .ui-slider-handle {
									/* margin-left: -7px; */
								}
							.b-category .b-block .filter .filter-item-cont .filter-item.slide-type .slider-value {
								font-size: 13px;
								margin-top: 8px;
							}
					.b-category .b-block .filter .filter-item-cont .filter-item.check-type {
						max-height: 195px;
						margin-top: 16px;
						overflow: auto;
					}
						.b-category .b-block .filter .filter-item-cont .filter-item.check-type li {
							width: 100%;
							position: relative;
							margin-bottom: 13px;
						}
							.b-category .b-block .filter .filter-item-cont .filter-item.check-type li input {
								display: none;
							}
							.b-category .b-block .filter .filter-item-cont .filter-item.check-type li input:checked + label .checked {
								display: block;
							}
							.b-category .b-block .filter .filter-item-cont .filter-item.check-type li label {
								display: block;
								cursor: pointer; 
							}
								.b-category .b-block .filter .filter-item-cont .filter-item.check-type li label .default {
									float: left;
									display: block;
									border: 1px solid #707070;
									width: 11px;
									height: 11px;
									margin-top: 3px;
								}
								.b-category .b-block .filter .filter-item-cont .filter-item.check-type li label .checked {
									display: none;
									position: absolute;
									top: 3px;
									left: 0px;
									width: 12px;
									height: 12px;
									background: url("../i/check.png") no-repeat;
		  							background-position: 50% 50%;
								}
								.b-category .b-block .filter .filter-item-cont .filter-item.check-type li label h4 {
									float: left;
									margin-left: 7px;
									font-size: 13px;
									max-width: 180px;
								}
			.b-category .b-block .filter .b-green-butt{
				width: 140px;
				padding: 8px 0 9px;
  				font-size: 13px;
  				font-family: "OSS";
			}
        .b-category .b-block .category-list {
			width: 717px;
		}
			.b-category .b-block .category-list ul.tabs{
    			border-top: 1px solid #d7d7d7;		
    			display: inline-block;
    			border-left: 1px solid #d7d7d7;
			}
				.b-category .b-block .category-list ul.tabs li{
					background-color: #ececec;
					float: left;
					width: 142px;
					border-right: 1px solid #d7d7d7;
					border-bottom: 1px solid #d7d7d7;
					border-left: none;
					text-align: center;
				}
					.b-category .b-block .category-list ul.tabs li.active{
						background-color: #d0cfd0;	
					}

						.b-category .b-block .category-list ul.tabs li:hover{
							background-color: #E0E0E0;
						}
						.b-category .b-block .category-list ul.tabs li.active:hover{
							background-color: #d0cfd0;	
						}
					.b-category .b-block .category-list ul.tabs li a{
						font-size: 14px;
						font-family: "OSS";
						padding: 15px 15px 20px;
						color: #1a1a1a;
						display: block;
					}
						.b-category .b-block .category-list ul.tabs li.active a{
							cursor: default;
						}
			.b-category .b-block .category-list .sort{
    			margin-top: 20px;
				
			}
				.b-category .b-block .category-list .sort h4{
					font-size: 13px;
					font-family: "OSS";
				
					margin-right: 20px;
}
				.b-category .b-block .category-list .sort a{
					font-size: 13px;
					color: #1a1a1a;
					display: block;
					position: relative;
					border-bottom: 1px dotted #1a1a1a;
					margin-right: 47px;
}
					.b-category .b-block .category-list .sort a:after{
						position: absolute;
  						content: "s";
  						font-size: 0px;
  						width: 7px;
  						height: 4px;
						right: -15px;
						top: 9px;
  						background-position: 0px 50%;
  						background-repeat: no-repeat;
  						background-image: url("../i/sort-arrows.png");
					}
					.b-category .b-block .category-list .sort a:hover{
						border:none !important;
					}
					.b-category .b-block .category-list .sort a.active{
						background-position: -7px 50%;
						color: #f98411;
						border-bottom: 1px dotted #f98411;
					}
					.b-category .b-block .category-list .sort a.active:after{
						background-position: -7px 50%;
					}
				.b-category .b-block .category-list .sort span{
					font-size: 13px;
					display: block;
					cursor: pointer;
					position: relative;
					margin-left: 37px;
  					margin-top: 2px;
				}
					.b-category .b-block .category-list .sort span:before{
						position: absolute;
  						content: "s";
  						font-size: 0px;
  						width: 12px;
  						height: 10px;
						left: -18px;
  						top: 5px;
  						background-position: -32px 50%;
  						background-repeat: no-repeat;
  						background-image: url("../i/view-type.png");
					}
					.b-category .b-block .category-list .sort span.window:before{
						background-position: -10px 50%;
						width: 10px;
  						height: 10px;
					}
					.b-category .b-block .category-list .sort span.active{
						color: #f98411;
						cursor: default;
					}
						.b-category .b-block .category-list .sort span.active:before{
							background-position: -20px 50%;
						}
						.b-category .b-block .category-list .sort span.window.active:before{
							background-position: 0px 50%;
						}
			.b-category .b-block .category-items {
				margin-top: 13px;
				text-align: left;
				margin-bottom: 30px;
			}
				.b-category .b-block .category-items li {
					float: left;
					background-color: #fff;
					width: 227px;
					border: 2px solid #d8d8d8;
					border-radius: 3px;
					padding: 15px 19px;
					box-sizing: border-box;
					margin-right: 18px;
					margin-top: 18px;
					cursor: default;
				}
				.b-category .b-block .category-items li:nth-child(3n) {
					margin-right: 0;
				}
					.b-category .b-block .category-items li .img {
						display: table;
						width: 100%;
						height: 124px;
					}
						.b-category .b-block .category-items li .img div{
							display: table-cell;
							height: 100%;
							font-size: 0;
							vertical-align: middle;
							text-align: center;
						}
							.b-category .b-block .category-items li .img div img {
								max-height: 124px;
							}
					.b-category .b-block .category-items li .item-desc{
    					margin-top: 6px;

					
    					height: 105px;
    					overflow: hidden;
}
						.b-category .b-block .category-items li .item-desc h3{
							font-size: 14px;
							font-family: "OSS";
							text-decoration: underline;
							line-height: 1.6;
						
							max-height: 66px;
							overflow: hidden;
}
						.b-category .b-block .category-items li .item-desc p{
							font-size: 12px;
							line-height: 1.5;
							margin-top: 7px;
							color: #5f5f5f;
						}
					.b-category .b-block .category-items li .item-price{
						margin-top: 12px;
						font-family: "OSS";
						
					}
						.b-category .b-block .category-items li .item-price h4{
							font-size: 14px;
							display: inline-block;
						}
						.b-category .b-block .category-items li .item-price div {
							margin-bottom: 13px;
						}
							.b-category .b-block .category-items li .item-price div h5{
								display: inline-block;
								color: #f98411;
								font-size: 15px;
							}
								.b-category .b-block .category-items li .item-price div h5 span{
	    							font-size: 18px;
							
								}
						.b-category .b-block .category-items li .item-price .b-green-butt{
						    width: 186px;					
						    padding: 10px 0 11px;
						    font-size: 13px;
						    font-family: "OSS";
						}
				.b-category .b-block .category-items.list-view {
					margin-top: 18px;
				}
				.b-category .b-block .category-items.list-view li {
					display: block;
					width: 100%;
					padding: 12px 14px 21px 18px;
					margin-top: 12px;
				
					margin-right: 0;
}
					.b-category .b-block .category-items.list-view li .img {
						display: table;
						width: 135px;
						float: left;
					}
						.b-category .b-block .category-items.list-view li .img div img {
							max-width: 135px;
						}
					.b-category .b-block .category-items.list-view li .item-desc{
    					margin-top: 12px;
    					width: 300px;
    					float: left;
    					padding: 0px 21px 0px 20px;
    					border-right: 1px solid #ececec;
    					height: 112px;
    					overflow: hidden;
}
						.b-category .b-block .category-items.list-view li .item-desc p{
							margin-top: 12px;
						
}
					.b-category .b-block .category-items.list-view li .item-price{
						margin-top: 11px;
						float: right;

					}
						.b-category .b-block .category-items.list-view li .item-price div h4{
							display: block;
						}
			.b-category .b-block .category-list .more{
				font-size: 13px;
				color: #8b8b8b;
				cursor: pointer;
			}
				.b-category .b-block .category-list .more span{
					display: inline-block;
					width: 24px;
					height: 22px;
					border-radius: 50%;
					background-color: #fdac08;
					padding-top: 2px;
					text-align: center;
					margin-right: 6px;
}
					.b-category .b-block .category-list .more span i{
						display: inline-block;
						width: 8px;
						height: 8px;
						background-position: 0px 50%;
						background-repeat: no-repeat;
						background-image: url("../i/count.png");
						background-size: 34px 8px;
					}
.b-basket {

}
	.b-basket .b-block {
    	padding-top: 35px;
    	padding-bottom: 90px;
	}	
		.b-basket .b-block .basket-title{
			background-color: #e3e3e3;
			padding: 11px 28px 12px 84px;
  			font-family: "OSS";
  			margin-top: 18px;
		
			margin-bottom: 16px;
}		
			.b-basket .b-block .basket-title h3:nth-child(2) {
    			margin-left: 362px;
			}	
			.b-basket .b-block .basket-title h3:nth-child(3) {
    			margin-left: 126px;
			}
		.b-basket .b-block ul {
			margin-bottom: 23px;
		}
			.b-basket .b-block ul li {
				display: table;
				background-color: #fff;
				padding: 23px 10px 23px 16px;
				border-radius: 3px;
				border: 2px solid #d8d8d8;
				margin-top: 10px;
			}
				.b-basket .b-block ul li>div {
					display: table-cell;
					vertical-align: middle;
				}
					.b-basket .b-block ul li>div h4{
						font-family: "OSS";
						font-size: 18px;
						width: 113px;
					}
				.b-basket .b-block ul li .img {
					height: 100%;
  					font-size: 0;		
				}
					.b-basket .b-block ul li .img img{
						max-width: 107px;
						max-height: 90px;		
					}
				.b-basket .b-block ul li .item-desc {
					text-align: left;
					width: 300px;
  					padding-left: 24px;
				}
					.b-basket .b-block ul li .item-desc a{
						color: #1cb700;
						font-size: 14px;
						text-decoration: underline;
					}
						.b-basket .b-block ul li .item-desc a:hover{
							text-decoration: none;
						}
					.b-basket .b-block ul li .item-desc p{
						font-size: 12px;
						margin-top: 5px;
					}
				.b-basket .b-block ul li .item-count {
					padding-left: 61px;
					padding-right: 72px;
				}
		.b-basket .b-block h5 {
			font-size: 15px;
			color: #232323;
			margin-left: 50px;
		}
			.b-basket .b-block h5 span{
				font-family: "OSS";
				color: #f98411;
			}
			.b-basket .b-block h5 .value{
				font-size: 20px;
				margin-left: 3px;
			}
			.b-basket .b-block h5 .name{
				font-size: 16px;
			}
			.b-basket .b-block h5.amount{
				margin-top: 5px;
			}
				.b-basket .b-block h5.amount span{
					color: #232323;
				}
		.b-basket .b-block .basket-order {
    		margin-top: 39px;

		}
			.b-basket .b-block .basket-order input[type='text']{
    			width: 286px;			
    			border: 1px solid #cccccc;
    			border-radius: 3px;
    			padding: 10px 14px;
    			box-sizing: border-box;
    			line-height: 1.6;
			}
			.b-basket .b-block .basket-order input.b-green-butt{
    			width: 150px;		
    			border: none;
    			border-bottom: 2px solid #508e2a;
    			font-size: 13px;
    			padding: 11px 0 11px;
    			font-family: "OSS";
    			margin-left: 15px;
			}
.b-basket-small {
	position: fixed;
	width: 335px;
	right: 50%;
	margin-right: -600px;
	bottom: 489px;
	box-sizing: border-box;
	background-color: #fff;
}
	.b-basket-small .cross{
			display: block;
			width:	9px;
			height: 10px;
			background-image: url("../i/basket-cross.png");
			background-position: 0px 50%;
			margin-top: 8px;
			margin-right: 9px;
		}
	.b-basket-small h4{
		font-size: 14px;
		font-family: "OSS";
	
		margin-top: 11px;
		margin-left: 15px;
	}
	
	.b-basket-small ul {
			padding: 10px 0px;
		}
			.b-basket-small ul li {
				display: table;
				padding: 10px;
				border-radius: 3px;
				border-bottom: 2px solid #e8e8e8;

			}
				.b-basket-small ul li>div {
					display: table-cell;
					vertical-align: middle;
				}
					.b-basket-small ul li>div h4{
						font-family: "OSS";
						font-size: 18px;
						width: 50px;
					}
				.b-basket-small ul li .img {
					height: 100%;
  					font-size: 0;		
				}
					.b-basket-small ul li .img img{
						max-width: 56px;
						max-height: 52px;		
					}
				.b-basket-small ul li .item-desc {
					text-align: left;
					width: 300px;
  					padding-left: 24px;
				}
					.b-basket-small ul li .item-desc a{
						color: #1cb700;
						font-size: 14px;
						text-decoration: underline;
					}
						.b-basket-small ul li .item-desc a:hover{
							text-decoration: none;
						}
					.b-basket-small ul li .item-desc p{
						font-size: 12px;
						margin-top: 5px;
					}
				.b-basket-small ul li .item-count {
					padding-left: 61px;
					padding-right: 72px;
				}
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}